body { 
	background-image: url('poster.png'); 
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	}
h1{
    text-align: center;
    font-size: 80px;
    color: white;
}

img {
}

.gif {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height:200px;
    background: #3A6F9A;
    vertical-align: middle;
    position: relative; /* Declared position allows for location changes */
    bottom: -0px; /* Moves the image 2px closer to the top of the page */
}


